<style>
    .video-container {
        display: flex;
        white-space: nowrap;
    }

    .video {
        width: 300px;
        margin-right: 10px;
        border: 1px solid #ccc; 
    }

    .video video {
        width: 200px;
        height: auto;
    }
</style>